<h2>Players</h2>
<ul class="players">
    <li *ngFor="let player of players"
      [class.selected]="player === selectedPlayer"
      (click)="onSelect(player)">
        First Name: {{ player.firstname }}
        Last Name: {{ player.lastname }}
        <span class="badge">Age: {{ player.age }}</span>
    </li>
</ul>

<div class="form" *ngIf="selectedPlayer">
<div>
    <label>First Name:
        <input [(ngModel)]=selectedPlayer.firstname placeholder="firstname">
    </label>
</div>
<div>
    <label>Last Name:
        <input [(ngModel)]=selectedPlayer.lastname placeholder="lastname">
    </label>
</div>
<div>
    <label>Age:
        <input [(ngModel)]=selectedPlayer.age placeholder="age">
    </label>
</div>
</div>
