ul.players, div.form {
    margin-bottom: 50px;
}

ul.players > li.selected {
    background: #ddd;
}

ul.players > li:hover {
    background: #eee;
    cursor: pointer;
}

div.form {
    text-align: left;
}
