<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div *ngIf="startGame == true">
    <!-- Players connected -->
    <app-game-engine></app-game-engine>
  </div>
  <div *ngIf="startGame == false">
    <!-- Players not connected -->
    <h1>Welcome to {{ title }}!</h1>
    <div class="errors" *ngFor="let error of errors; let i = index">
      {{ error }}<br/>
    </div>
    <div class="players-form">
      <div *ngFor="let player of players; let i = index">
        <h2>Joueur n°{{ i + 1 }}</h2>
        <div class="player-text">Ton prénom: </div><div><input type="text" [(ngModel)]=player.firstname /></div>
        <div class="player-text">Ton nom: </div><div><input type="text" [(ngModel)]=player.lastname /></div>
        <div class="player-text">Ton age: </div><div><input type="text" [(ngModel)]=player.age /></div>
        <div class="player-text">Ta classe: </div><div><input type="text" [(ngModel)]=player.classroom /></div>
      </div>
      <input *ngIf="players?.length < 3" type="submit" (click)="onAddNewPlayer()" value="Ajouter un nouveau joueur">
    </div>
    <div class="characters-selection">
      <div *ngFor="let hero of heroes; let i = index">
        <div class="selection" *ngIf="hero.owner != null">{{ hero.owner.firstname }}</div>
        <div class="image"><img (click)="onSelectHero(hero)" src="{{ hero.avatar() }}"></div>
      </div>
    </div>
    <div class="validation">
      <input *ngIf="players?.length > 1" type="submit" (click)="onStartGame()" value="Lancer la partie">
    </div>
  </div>
</div>
