h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}
h2, h3 {
  color: #444;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}
h2 {
    font-size: 200%;
}
h3 {
    font-size: 150%;
}
body {
  margin: 2em;
}
body, input[text], button {
  color: #888;
  font-family: Cambria, Georgia;
}
div.container {
    width: 800px;
    margin: auto;
    text-align:center;
}
.players-form {
    width: 75%;
    float: left;
}
.characters-selection {
    width: 25%;
    float: left;
}
.characters-selection .image {
    cursor: pointer;
}
.players-form > div > div {
    width: 48%;
    margin: 3px 1%;
    float: left;
    text-align: left;
}
.players-form > div > div.player-text {
    text-align: right;
}
.selection {
}
.image {
}
/* everywhere else */
input[type=text] {
    width: 75%;
}
input[type="submit"] {
    width: 75%;
    height: 1cm;
    margin: 3px 1%;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
}
