div.chapter {
    /*width: 48%;
    margin: 3px 1%;
    height: 200px;
    background-color: #eee;
    text-align:center;
    line-height:200px;
    cursor: pointer;*/
    display: flex;
    justify-content: center;
    align-items: center;
    width:48%;
    height:200px;
    background-color: #eee;
    margin: 
}
div.chapter-container div.chapter-text {
    float: left;
    width: 66%;
    min-height: 500px;
    margin: 3px 1%;
    text-align: left;
    padding-left: 5%;
    background: -moz-linear-gradient(left, rgba(255,255,255,0) 0%, rgba(255,255,255,0.5) 5%, rgba(255,255,255,1) 33%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 5%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(255,255,255,0) 0%,rgba(255,255,255,0.5) 5%,rgba(255,255,255,1) 33%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
div.chapter-nav {
    float: left;
    width: 100%;
}
div.chapter-nav input {
    width: 46%;
    margin: 3px 1%;
}
em, b {
    color: #019080;
    font-weight: bold;
}
div.chapter-container div.chapter-text table th {
    min-width: 40px;
    background-color: #eee;
}
div.chapter-container div.chapter-text table tr > * {
    text-align: center;
}
div.chapter-container div.chapter-actor {
    float: left;
    width: 25%;
    margin: 3px 1%;
    overflow: visible;
}
div.chapter-container div.chapter-actor > img {
    height: 500px;
}
/* everywhere else */
input[type=text] {
    width: 75%;
}
input[type="submit"] {
    width: 75%;
    height: 1cm;
    margin: 3px 1%;
}
* {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
}
