<div *ngIf="currentChapter == null">
  <!-- The game has not start yet: show list of chapters -->
  <div *ngFor="let chapter of chapters; let i = index">
    <div class="chapter" (click)="onClickChapter(chapter)">
      Chapitre {{ i + 1 }}: {{ chapter.title }}
    </div>
  </div>
</div>
<div class="chapter-container" *ngIf="currentChapter != null">
  <h1>{{ currentChapter.title }}</h1>
  <div class="chapter-actor">
    <img *ngIf="currentEvent.actor != null"
        src="{{ currentEvent.actor.full() }}">
    <img *ngIf="currentEvent.actor == null"
        src="{{ curentHeroFull() }}">
  </div>
  <div class="chapter-text" [innerHtml]="currentEvent.content"></div>
  <div class="chapter-answer-text" *ngIf="currentEvent.hasAnswerField()">
    <input type="text" [(ngModel)]=answerField />
  </div>
  <div class="chapter-answer-choice" *ngIf="currentEvent.hasChoices()">
    <select multiple [(ngModel)]=answerNums>
      <option *ngFor="let opt of currentEvent.choices; let i = index" [value]="i"]>{{ opt }}</option>
    </select>
  </div>
  <div class="chapter-nav">
    <input type="submit" (click)="onClickPrev()" value="< Retour" />
    <input type="submit" (click)="onClickNext()" value="Suite >" />
  </div>
</div>
