<h2>{{ hero.name | uppercase }} details</h2>
<div><span>ID: </span>{{ hero.id }}</div>
<div><span>Name: </span>{{ hero.name }}</div>
<div><span>Strengh: </span>{{ hero.strengh }}</div>
<div><span>Thoughness: </span>{{ hero.thoughness }}</div>
